// Specific CSS for your home-page

.home-page {
  header h1 {
    color: red;
    font-size: 110px;
    text-shadow: 4px 3px 0 #000000;
  }

  header h3 {
    color: red;
    text-shadow: 4px 3px 0 #000000;
    font-size: 40px;
  }

  header {
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }

  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  header .container {
    float: left;
    position: relative;
    z-index: 2;
  }

  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(29, 28, 28);
    opacity: 0.5;
    z-index: 1;
  }

  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }

    header video {
      display: none;
    }
  }

  #api-features {
    overflow: hidden;
    padding: 40px;
  }

  #api-features h1 {
    color: white;
    padding: 46px 0px 32px 0px;
    text-align: center;
    font-weight: bolder;
  }

  #api-features h4 {
    color: white;
    padding: 24px 24px 8px 24px;
  }

  #api-features p {
    color: white;
    padding: 0 24px 24px 24px;
  }
}
