.sorting-container {

  background-color: #121212;
  color: white;
  padding-left: 250px;
  overflow-y: hidden;

  .camelot-image {
    height: 250px;
    width: 250px;
  }

  .camelot-image:hover {
    position: relative;
    // top: -25px;
    // left: -35px;
    width: 500px;
    height: auto;
    z-index: 999;
    transition-duration: 0.3s;
  }

  p.display {
    color: #F4F4F4;
    font-size: small;
    font-family: "Poppins",
    sans-serif;
    margin-top: -80px;
    margin-left: 250px;
  }

  h1.display-4 {
    color: #F4F4F4;
    font-size: xx-large;
    font-family: "Poppins",
    sans-serif;
    font-weight: 800;
  }

  .display-4 span {
    margin: 0 25px;
  }

}

.playlist-tracks-header {
  margin-top: 80px;
  h1 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 32px;
  }

  p {
    font-family: 'Raleway';
    font-weight: 400;
  }
}

.playlist-title-description {
  p {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
  }
}

.spotify-buttons {
  height: 100%;
}

.grid-heading {
  h1 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 48px;
    padding-top: 24px;
  }
  .button-container {
    font-family: 'Raleway';
    color: white;
  }
}

.grid-tracks {
  width: 75%;
}

.playlist-title-description {
  padding-top: 24px;
}
