.sorting-container {

  background-color: #121212;
  color: white;
  padding-left: 250px;

  .camelot-image {
    height: 250px;
    width: 250px;
  }

  .camelot-image:hover {
    position: relative;
    // top: -25px;
    // left: -35px;
    width: 500px;
    height: auto;
    z-index: 999;
    transition-duration: 0.3s;
  }

  .tracks_container {
    // margin-left: 250px;
  }

  p.display {
    color: #F4F4F4;
    font-size: small;
    font-family: "Poppins",
    sans-serif;
    margin-top: -80px;
    margin-left: 250px;
  }

  h1.display-4 {
    color: #F4F4F4;
    font-size: xx-large;
    font-family: "Poppins",
    sans-serif;
    font-weight: 800;
  }

  .display-4 span {
    margin: 0 25px;
  }

}

.playlist-tracks-header {
  // margin-left: 250px;
  margin-top: 80px;
}

.spotify-buttons {
  height: 100%;
}

.grid-heading {
  h1 {
    font-size: 64px;
    padding-top: 24px;
  }
}

.playlist-title-description {
  padding-top: 24px;
}
