.playlist_tracks {

  background-color: #121212;

  .tracks_container {
    margin-left: 100px;
  }

  .jumbotron {
    border-radius: 10px;
    background-color: #2d3436;
    background-image: linear-gradient(to bottom, #2d3436 0%, #121212 74%);
  }

  p.display {
    color: #F4F4F4;
    font-size: small;
    font-family: "Poppins",
    sans-serif;
  }

  h1.display-4 {
    color: #F4F4F4;
    font-size: xx-large;
    font-family: "Poppins",
    sans-serif;
    font-weight: 800;
  }

  .playlist-tracks-text {
    margin-left: 240px;
  }

  .display-4 span {
    margin: 0 25px;
  }

  .update-playlist-button span {
    margin: 0 25px;
  }
}
