<h1>BiteJockey Magic Playlist Organiser</h1>

<div class="container">
  <% @playlists.each do |playlist| %>
    <h3><%= playlist.name %></h3>
      <% counter = 1 %>
      <% playlist.tracks.each do |track| %>
        <p><%= counter %>. <%= track.name %></p>
        <% counter += 1 %>
      <% end %>
    <% end %>
</div>
