<div class="home-page">
  <header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://vod-progressive.akamaized.net/exp=1651317165~acl=%2Fvimeo-prod-skyfire-std-us%2F01%2F559%2F16%2F402797966%2F1721783053.mp4~hmac=9a82c94609b984a7a0b48af1c1d4a9601746ebb0a337c1aad21171c9db51e8b1/vimeo-prod-skyfire-std-us/01/559/16/402797966/1721783053.mp4?download=1&filename=production+ID%3A4043988.mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">BitJockey</h1>
          <h3 class="lead mb-0">Less Admin More Mixin</p>
          <button type="button" class="btn btn-outline-info">Sort Ya Tracks</button>
          <button type="button" class="btn btn-outline-info">Get A Bit Social</button>
        </div>
      </div>
    </div>
  </header>
  <div class="container" id="api-features" style="border: solid red; background-color: pink">
    <h1>Features of Spotify API OF SPOTIFY API</h1>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
            <img src="https://images.unsplash.com/photo-1461784180009-21121b2f204c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Live Loops</a></h4>
            <p>Explore musical ideas using a grid of musical loops and phrases that you can trigger and manipulate in real time to create unique arrangements.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
           <img src="https://images.unsplash.com/photo-1461784180009-21121b2f204c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Multi-Touch Mixing</h4>
            <p>Control your mix from wherever you are in the room — whether that’s next to your computer or on the couch — with Multi-Touch faders.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
            <img src="https://images.unsplash.com/photo-1461784180009-21121b2f204c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Key Commands</h4>
            <p>Create at the speed of sound with Key Commands in Logic Remote. Choose from curated commands for popular workflows, or create your own customised set.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
            <img src="https://images.unsplash.com/photo-1461784180009-21121b2f204c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Sequence your beats</h4>
            <p>Program drum patterns and melodic parts, create dynamic rhythmic performances and automate your plug-ins — all with a quick tap of your finger.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
            <img src="https://images.unsplash.com/photo-1461784180009-21121b2f204c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Smart Tempo</h4>
            <p>Play freely and stay on beat with Smart Tempo, a way to effortlessly mix and match music and beats without worrying about the original tempo. Record freely without a click track.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
            <img src="https://images.unsplash.com/photo-1461784180009-21121b2f204c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Track Stacks</h4>
            <p>Consolidate multiple related tracks into a single track. Use a Summing Stack as a quick way to create submixes. Or create layered and split instruments.</p>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-lg">GET STARTED</button>
  </div>
  <div class="container" id="social-features" style="border: solid red; background-color: turquoise">
    <h1>Features Of BitSocial</h1>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
            <img src="https://images.unsplash.com/photo-1557040135-9dc2a6b60411?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Live Loops</a></h4>
            <p>Explore musical ideas using a grid of musical loops and phrases that you can trigger and manipulate in real time to create unique arrangements.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
           <img src="https://images.unsplash.com/photo-1557040135-9dc2a6b60411?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Multi-Touch Mixing</h4>
            <p>Control your mix from wherever you are in the room — whether that’s next to your computer or on the couch — with Multi-Touch faders.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
            <img src="https://images.unsplash.com/photo-1557040135-9dc2a6b60411?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Key Commands</h4>
            <p>Create at the speed of sound with Key Commands in Logic Remote. Choose from curated commands for popular workflows, or create your own customised set.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
            <img src="https://images.unsplash.com/photo-1557040135-9dc2a6b60411?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Sequence your beats</h4>
            <p>Program drum patterns and melodic parts, create dynamic rhythmic performances and automate your plug-ins — all with a quick tap of your finger.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
            <img src="https://images.unsplash.com/photo-1557040135-9dc2a6b60411?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Smart Tempo</h4>
            <p>Play freely and stay on beat with Smart Tempo, a way to effortlessly mix and match music and beats without worrying about the original tempo. Record freely without a click track.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
            <img src="https://images.unsplash.com/photo-1557040135-9dc2a6b60411?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Track Stacks</h4>
            <p>Consolidate multiple related tracks into a single track. Use a Summing Stack as a quick way to create submixes. Or create layered and split instruments.</p>
          </div>
        </div>
      </div>
      <h1>Sign Up Now!</h1>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>

</div>
