<div class="home-page">
  <header>

    <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
    <div class="overlay"></div>

    <!-- The HTML5 video element that will create the background video on the header -->
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://vod-progressive.akamaized.net/exp=1651317165~acl=%2Fvimeo-prod-skyfire-std-us%2F01%2F559%2F16%2F402797966%2F1721783053.mp4~hmac=9a82c94609b984a7a0b48af1c1d4a9601746ebb0a337c1aad21171c9db51e8b1/vimeo-prod-skyfire-std-us/01/559/16/402797966/1721783053.mp4?download=1&filename=production+ID%3A4043988.mp4">
    </video>

    <!-- The header content -->
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">BitJockey</h1>
          <p class="lead mb-0">Mix The Music You Love Minus The Admin</p>
        </div>
      </div>
    </div>
  </header>
</div>
<%# <div class="banner" style="background-image: url(images/background.png);">
  <div class="container">
    <h1>SLogan</h1>
    <p>Paragraph</p>
    <a class="btn-primary" href="#">Enquire</a>
  </div>
</div> %>
