<div class="container">
    <h1>Search Bite-Mates</h1>
    <p>Change your music taste and discover DJs .</p>
    <%# <a class="btn btn-flat" href="#">Book now</a> %>
</div>

<%# <%= link_to user_path %> 

<div id="myBtnContainer" class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button">The Vibe</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">House</button>
     <button class="btn btn-sm btn-outline-secondary" type="button">Electro</button>
     <button class="btn btn-sm btn-outline-secondary" type="button"> Techno</button>
     <button class="btn btn-sm btn-outline-secondary" type="button">Afro House</button>
     <button class="btn btn-sm btn-outline-secondary" type="button">Funk Soul</button>
</div>
<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="pk.eyJ1Ijoia2hhZGlqYWIiLCJhIjoiY2t2aXpyc2JtMGFtYjJwbWhoMzFiMTFyMSJ9.RgymcQv0dDthOjdmorqjvA"></div>
