<div class="test-page">

  <br><br><br><br><br><br><br>
  <div class="h1-container">
    <h1 style="border: 2px solid red; text-align: center; margin: 24px;">Your Bookings</h1>
  </div>
  <div class="map-div" style="border: 2px solid yellowgreen; width: 100%; height: 60vh; display: flex; align-items: center; justify-content: center; margin: 16px 0px;" >
    <h1>Map with Booking Location</h1>
  </div>
  <div class="cards-div" style="border: 2px solid blue; width: 80%; display: flex; flex-direction: column; flex-wrap: wrap; align-self: auto; justify-content: center; margin-bottom: 24px;">
    <div class="b-headings" style="border: 2px solid white; text-align: center;">
      <h1>Upcoming Bookings</h1>
    </div>
    <ul>
      <li class="booking-card" style="background-image: url(https://images.unsplash.com/photo-1516873240891-4bf014598ab4?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870)">
        <div class="informations-container">
          <h2 class="title">12th June @ 10pm</h2>
          <hr><p class="sub-title" style="font-family: monospace;"><strong>Venue:</strong> Festival Hall</p>
          <p class="sub-title" style="font-family: monospace;"><strong>Set Length:</strong> 2.0hrs</p>
          <p class="sub-title" style="font-family: monospace;"><strong>Genres:</strong> Deep House, EDM, Techno</p>
          <p class="sub-title" style="font-family: monospace;"><strong>Equipment:</strong> BYO Portable Decks</p>
          <p class="sub-title" style="font-family: monospace;"><strong>Hourly Rate:</strong> $150</p> <hr>
          <div class="more-information">
            <p class="disclaimer">Two of Naarms finest hard dance crews, Dazed HDT & IWTFA - are joining forces to present ‘Control Theory’ at Subclub. We’ve asked some of our favourite selectors to join us in the basement for a night of music mayhem.</p><hr>
            <button id="booker-button">Devin: Club90</button>
          </div>
        </div>
      </li>
    </ul>
    <div class="b-headings" style="border: 2px solid white; text-align: center;">
      <h1>Past Bookings</h1>
    </div>
    <ul>
      <li class="booking-card" style="background-image: url(https://images.unsplash.com/photo-1539758462369-43adaa19bc1f?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687)">
        <div class="informations-container">
          <h2 class="title">12th June @ 10pm</h2>
          <hr><p class="sub-title" style="font-family: monospace;"><strong>Venue:</strong> Festival Hall</p>
          <p class="sub-title" style="font-family: monospace;"><strong>Set Length:</strong> 2.0hrs</p>
          <p class="sub-title" style="font-family: monospace;"><strong>Genres:</strong> Deep House, EDM, Techno</p>
          <p class="sub-title" style="font-family: monospace;"><strong>Equipment:</strong> BYO Portable Decks</p>
          <p class="sub-title" style="font-family: monospace;"><strong>Hourly Rate:</strong> $150</p> <hr>
          <div class="more-information">
            <p class="disclaimer">Two of Naarms finest hard dance crews, Dazed HDT & IWTFA - are joining forces to present ‘Control Theory’ at Subclub. We’ve asked some of our favourite selectors to join us in the basement for a night of music mayhem.</p><hr>
            <button id="booker-button">Devin: Club90</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
