<div class="test-page">

  <br><br><br><br><br><br><br>
  <div class="h1-container">
    <h1 style="border: 2px solid red; text-align: center; margin: 24px;">Your Bookings</h1>
  </div>
  <div class="map-div" style="border: 2px solid yellowgreen; width: 100%; height: 60vh; display: flex; align-items: center; justify-content: center; margin: 16px 0px;" >
    <h1>Map with Booking Location</h1>
  </div>
  <div class="cards-div" style="border: 2px solid blue; width: 80%; display: flex; flex-wrap: wrap; align-self: auto; justify-content: center; margin-bottom: 24px;">
    <ul>
      <li class="booking-card" style="background-image: url(https://images.unsplash.com/photo-1516873240891-4bf014598ab4?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870)">
        <div class="informations-container">
          <h2 class="title">12th June @ 10pm</h2>
          <p class="sub-title"><strong>Venue:</strong>Festival Hall</p>
          <p class="price"><svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z" />
          </svg>$150 p/hour</p>
          <div class="more-information">
            <div class="info-and-date-container">
              <div class="box info">
                <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                </svg>
                <p>BYO Portable Decks</p>
              </div>
              <div class="box date">
                <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
                </svg>
                <p>Deep House, Techno, EDM</p>
              </div>
            </div>
            <p class="disclaimer">Two of Naarms fines hard dance crews, Dazed HDT & IWTFA - are joining forces to present ‘Control Theory’ at Subclub.We’ve asked some of our favourite selectors to join us in the basement for a night of music mayhem.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!--<div class="video-text" style="height: 100vh; width: 100%; background-color: white;">
    <section>
      <%= video_tag "video3.mp4", autoplay: :autoplay, loop: :loop, muted: :muted %>
    <h1>Bite Jockey</h1>
    </section>
  </div>-->
</div>
