.simple-calendar {
  table {
    min-height: 80vh;
    background: blueviolet;
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    
    .booking {
      padding: 8px 24px;
      border-radius: 4px;
      background-color: #1EDD88 !important;
      transition: background 0.3s ease;
    }
    
    .booking:hover {
      background: purple !important;
      color: white;
    }
  }
  .today {
    background-color: #FAF3DD;
  }
}
button {
  padding: 9px 13px;
  background-color: pink;
}
button:hover{
  background-color: green;
}

