<footer class="footer footer-expand-lg fixed-bottom bg-dark">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link link-secondary active" aria-current="page" href="#">Support</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-secondary" href="#">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-secondary " href="#">Careers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-secondary" href="#">Resources</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-secondary" href="#">Privacy Policy</a>
    </li>
  </ul>
</footer>
