<div>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="images/bitelogo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">BiteJockey</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item-center active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/playlists">Sort My Playlists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/playlists">BiteBot</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">BiteMate</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/connect">Sign In</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
