<div>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <%= image_tag 'bitelogo.jpg', width: '50', height: '50', alt: 'Logo', class: "ms-2 d-inline-block align-top" %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <% if user_signed_in? %>
          <li class="nav-item-center active">
            <a class="nav-link" href="/">| Home |<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/spotify"> Sort My Playlists |</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/spotify"> BiteMates |</a>
          </li>
          <% if current_user.unchecked_notifications.count == 0 %>
            <li class="nav-item">
                <a class="nav-link" href="/notifications"> Notifications |</a>
            </li>
          <% else %>
            <li class="nav-item">
                <a class="nav-link" style="border: 4px solid white;" href="/notifications"> Notifications |</a>
            </li>
          <% end %>
        <% else %>
          <li class="nav-item-center active">
            <a class="nav-link" href="/">| Home |<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/spotify"> Sort My Playlists |</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/spotify"> BiteMates |</a>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="spotify-button" href="/auth/spotify">
            <span class="spotify-button-text" style="font-family: monospace;"><span>Connect</span></span>
            <span class="spotify-button-icon"><i class="fa fa-spotify" aria-hidden="true"></i></span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
