<div class= "sidebar-wrapper">
  <div class="sidebar">
  <br>
  <br>
  <br>
    <div class="logo-details">
      <i class='bx bx-music'></i>
      <span class="BiteJockeyLogo">BiteJockey</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="#">
        <i class="bx bx-grid-alt"><i>
        <span class="link_name">My Playlists</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-user-pin'></i>
        <span class="link_name">BiteMate</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxl-deezer'></i>
        <span class="link_name">BiteBot</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-right-arrow'></i>
        <span class="link_name">Trending Playlists</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-calendar'></i>
        <span class="link_name">My Bookings</span>
      </a>
    </li>

  </ul>

</div>
