<body>
  <div class="sidebar open">
      <div class="logo-details">
      <div class="logo_name">BiteJockey</div>
      </div>
    <ul class="nav-list">
      <li>
        <div class="logo-details">
            <div class="logo_name">BiteJockey</div>
        </div>
      </li>
      <li>
         <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name">My Playlists</span>
                <ul class="sub-menu">
                  <li class="playlist-title"><% @playlists.each do |playlist| %>
                  <%=link_to playlist.name, playlist_tracks_path(playlist_id: playlist.id) %><li>
                  <% end %>
                </ul>
          </a>
        </div>
      </li>
        <a href="#">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log Out</span>
        </a>
      </li>
    </ul>
  </div>
</body>
