<div class="sidebar-wrapper">
  <aside class="sidebar">
      <h3>Menu</h3>
      <nav class="menu">
        <a href="#" class="menu-item is-active">Home</a>
        <a href="#" class="menu-item">Item</a>
        <a href="#" class="menu-item">Item</a>
        <a href="#" class="menu-item">Item</a>
        <a href="#" class="menu-item">Item</a>
      </nav>
  </aside>
</div>
